.popup{
    
    background-color: rgba(21,21,21,.8);
    position: fixed;
    
    left: 0;
    right: 0;
    top: 0;
    
    width: 100%;
    height: 100%;
    
    z-index: 1000;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
        display: none;
    
}

.popup__dialog{
    
    width: 100%;
    max-width: 504px;
    
    margin: 0 auto;
    
    background-color: #fff;
    
    position: relative;
    
}

.popup__close{
    
    position: absolute;
    
    left: 100%;
    bottom: 100%;
    
    width: 28px;
    height: 28px;
    
    margin-left: 20px;
    margin-bottom: 20px;
    
    cursor: pointer;
    
}

.popup__close::before,
.popup__close::after{
    
    content: "";
    
    position: absolute;
    
    left: 50%;
    top: 50%;
    
    background-color: #fff;
    
    transform: rotate(45deg);
    
}

.popup__close::before{

    width: 38px;
    height: 4px;
    
    margin-left: -19px;
    margin-top: -2px;
 
}   

.popup__close::after{

    width: 4px;
    height: 38px;
    
    margin-top: -19px;
    margin-left: -2px;

}
    

.popup__header{
    
    height: 87px;
    
    background-color: #e8280b;
    
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    line-height: 87px;
    
    padding-left: 40px;
    padding-right: 40px;
    
}

.popup__content{
    
    padding: 30px 40px;
    
}

.popup__form{
    
    width: 100%;
    
    display: block;
    
}

.popup__input{
    
    width: 100%;
    height: 63px;
    
    border: 3px solid #ccd0d3;
    
    transition: border-color .5s ease;
    
    padding: 0 22px;
    
    margin-bottom: 15px;
    
    color: #151515;
    
    font-size: 15px;
    
}

.popup__input:focus{
    
    border-color: #2bb3a5;
    
}

.popup__input--small{
    
    font-size: 14px;
    
    color: #5a5b5b;
    
    width: 45px;
    height: 36px;
    
    padding: 0 7px;
    
    text-align: center;
    
    margin-bottom: 0;
    
}

.popup__content__date{
    
    margin-bottom: 26px;
    
}

.popup__content__group{
    
    display: inline-block;
    
}

.popup__content__group:last-child{
    
    margin-left: 10px;
    
}

.popup__content__label{
    
    margin-bottom: 10px;
    
}

.popup__btn{
    
    display: inline-block;
    
    -webkit-appearance: none;
    
    height: 60px;
    
    padding: 0 34px 3px;
    
    border-radius: 30px;
    
    background: #222328;
    
    font-size: 21px;
    
    color: #fff;
    
    line-height: 50px;
    
    border: 0;
    
    transition: background .5s ease;
    
    cursor: pointer;
    
}

.popup__btn:hover{
    
    background: #e8280b;
    
}

.popup__content__label__bold{
    
    font-weight: 700;
    
    font-size: 16px;
    
    margin-bottom: 27px;
    
}

.popup__content__label__rules{
    
    max-width: 320px;
    
}